{% extends 'ems/index.html.twig' %}

{% block title %}Dossier médical{% endblock %}

{% block content %}
    <br>
    <div class="container">
        <h1>{{ citoyen.nom | upper }} {{ citoyen.prenom | capitalize }}</h1>
        <hr>
        <br>
        {% for medicalFile in medic %}
            <div class="card border-danger bg-danger bg-opacity-10 p-3">
                <div>{{ medicalFile.date | date ('d-m-Y H:i ') }}</div>
                <div style="font-weight: bold">{{ medicalFile.nom | upper }} {{ medicalFile.prenom | capitalize }}</div>
                <br>
                <div class="row">
                    <div class="col-2">Motif :</div>
                    <div class="col-9">{{ medicalFile.motif }}</div>
                </div>
                <div class="row">
                    <div class="col-2">Examen :</div>
                    <div class="col-9">{{ medicalFile.examen }}</div>
                </div>
                <div class="row">
                    <div class="col-2">Soin :</div>
                    <div class="col-9">{{ medicalFile.soin }}</div>
                </div>
                <div class="row">
                    <div class="col-2">Commentaire :</div>
                    <div class="col-9">{{ medicalFile.annexe }}</div>
                </div>

                <div>Facturé : {% if (medicalFile.facture == true) %}✅{% else %}❌{% endif %}</div>
            </div>
            <br>
        {% endfor %}
    </div>

{% endblock %}