{% extends 'ems/index.html.twig' %}

{% block title %}Parc véhicule{% endblock %}

{% block content %}
    <br>
    <div class="container">
        <h1>Parc véhicule</h1>
        <br>
        <hr>
        <table class="table table-danger table-striped table-bordered border-danger">
            <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Plaque</th>
                <th scope="col">Permis</th>
                <th scope="col">Type</th>
                <th scope="col">Up</th>
                <th scope="col">Disponible</th>
            </tr>
            </thead>
            <tbody>
            {% for vehicle in vehicles %}
                <tr>
                    <td><a class="text-decoration-none text-dark" href="{{ path ('app_detail_vehicle_ems', {'id':vehicle.id}) }}">{{ vehicle.name }}</a></td>
                    <td style="font-weight: bold">{{ vehicle.plate }}</td>
                    <td>{{ vehicle.license | upper }}</td>
                    <td>{{ vehicle.type | capitalize }}</td>
                    <td>{% if vehicle.upgrade == 0 %} ∅ {% elseif vehicle.upgrade ==1 %} ★ {% elseif vehicle.upgrade == 2 %} ★★ {% endif %}</td>
                    <td>{% if vehicle.available == true %} ✅ {% else %} ❌ {% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>
        <div class="pagination">
            {{ knp_pagination_render(vehicles) }}
        </div>
    </div>

{% endblock %}