{% block content %}
    <div class="container">
        <br>
        <div class="container">
            <div><img class="mx-auto d-block" src="{{ asset ('img/society/lspd1.webp') }}" alt="" height="180px"></div>
            <br>
            <div id="carousemExampleSlideOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{{ asset ('img/wp011.jpg') }}" alt="" class="d-block w-100" height="600">
                    </div>
                    <div class="carousel-item">
                        <img src="{{ asset ('img/wp010.jpg') }}" alt="" class="d-block w-100" height="600">
                    </div>
                    <div class="carousel-item">
                        <img src="{{ asset ('img/wp005.jpg') }}" alt="" class="d-block w-100" height="600">
                    </div>
                    <div class="carousel-item">
                        <img src="{{ asset ('img/wp012.jpg') }}" alt="" class="d-block w-100" height="600">
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>

{% endblock %}